<div class="banner">
    <h1 class="logo">playlistify</h1>
    <p class="content-header">Find new songs based on what you listen!</p>
</div>
<div class="search-bar-head">
    <form class="search-bar" action="/content/playlist" method="POST">
        <input type="text" id="playlistID" name="playlistID" placeholder="input your playlist ID...max playlist size 100"><br><br>
        <button type="submit">submit</button>
    </form>
</div>
