<div class="music-player" id="music-player">
    <div class="music-info">
      <div class="image-container">
        <img id="album-cover">
      </div>
      <div class="music-info-content">
        <h4 id="song-title"></h4>
        <p id="song-artist"></p>
      </div>
    </div>
    <!-- <br> -->
    <audio id="audio" class="audio" controlslist="nodownload">
    </audio>
    <div class="navigation">
      <p id="current-time">00:00</p>
      <div class="progress-container" id="progress-container">
        <div class="progress" id="progress"></div>
      </div>
      <p id="song-duration">00:29</p>
      <!-- <br> -->
      <div class="control-buttons">
        <button id="prev" class="action-btn">
          <i class="fas fa-backward"></i>
        </button>
        <button id="play" class="play-btn action-btn">
          <i class="fas fa-play"></i>
        </button>
        <button id="next" class="action-btn">
          <i class="fas fa-forward"></i>
        </button>
      </div>
    </div>
</div>