<div class="tutorial-head">
    <div class="tutorial-card">
        <p>1. klik ... di bawah playlist yang diinginkan, klik kanan > share > copy link to playlist</p>
        <img src="/assets/tutorial1.jpg">
    </div>
    <div class="tutorial-card">
        <p>2. paste link yang telah didapat ke suatu tempat, copy bagian sesuai dengan gambar</p>
        <img src="/assets/tutorial2.jpg">
    </div>
    <div class="tutorial-card">
        <p>3. search bagian yang telah di copy ke search bar</p>
        <img src="/assets/tutorial3.jpg">
    </div>
</div>