<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/css/index.css">
    <script defer src="/js/index.js"></script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Playlistify</title>
</head>
<body>
    <canvas id="canvas" width="1270px" height="565px"></canvas>
    <div class="card">
        <h1 class="logo">playlistify</h1>
        <p>Get recommendations based on your playlist!</p>
        <a href="/login">authorize spotify account</a>
    </div>
</body>
</html>